body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Dancing Script";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Dancing Script', cursive;
  font-family: 'Source Sans Pro', sans-serif;
}